<div class="panel panel-default">
    <div class="panel-heading">Расписание занятий</div>

    <table class="table table-striped table-hover" sw-loading="loading">
        <thead>
            <tr>
                <th>#</th>
                <th ng-repeat="day in schedule.days">{{ day.name }}</th>
                <th>время</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="dayItem in dayItems">
                <td>{{ $index+1 }}</td>

                <td ng-repeat="day in schedule.days">
                    {{ schedule.getItem(day.name, dayItem).subject.name }}
                </td>

                <td>
                    <span class="label label-info">{{ dayItem.time_from }} - {{ dayItem.time_to }}</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>